@model Pedido
<div class="container">
    <div class="row">
       <div class="card" style="width: 18rem;">
           <div class="text-center">
               <img src="@Model.ImagemUrl" class="img-fluid" alt""/>
           </div>
         
          <div class="card-block">
            <h5 class="card-title">@Model.Nome</h5>
            <p class="card-text"><h5>@Model.DescricaoDetalhada</h5></p>
            <p class="btn btn-group align-content-lg-end">
            <a asp-controller="Pedido" asp-action="List" class="btn btn-primary">Ver Todos Os Pedidos</a>
            <a class="btn btn-primary" id="cardButton" asp-controller="CarrinhoCompra" asp-action="AdicionarItemNoCarrinhoCompra" 
            asp-route-pedidoId="@Model.Id">Adicionar @Model.Nome ao carrinho</a>
            </p>  
        </div>
        </div>
    </div>

</div>
